# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE / Editor specific files
.idea/
*.vscode/

# Runtime Generated Folders
logs/
reports/
screenshots/
allure-results/
allure-history/

# OS-specific files
.DS_Store
Thumbs.db

# Test output data files (see note below)
data/test_output.xml
data/test_output.json
data/test_output.csv
test_pages/

# Exclude generated keyword test data file
selenium_demoblaze_framework/data/keyword_test_cases.xlsx
selenium_demoblaze_framework/tests/demo.py
selenium_demoblaze_framework/tests/demo2.py
selenium_demoblaze_framework/tests/demo3.py
selenium_demoblaze_framework/tests/demo4.py
selenium_demoblaze_framework/tests/conftest(working).py
selenium_demoblaze_framework/tests/test_demoblaze_e2e(working).py
selenium_demoblaze_framework/utilities/utility_methods(working).py